header#header.bg-primary
  .container
    .row
      .col-md-2.header__logo.text-center.col-4.order-2.order-md-1
        .header__logo__container.bg-white
          img(src="../.././../assets/img/logo.png", alt="Logo")
      .col-md-4.header__info.d-md-flex.d-none.order-md-2
        .header__info__container
          p Опытные юристы по коммерческой недвижимости работаем с 1998 года
      .col-md-3.header__info.col-4.order-1.order-md-3
        .header__info__container
          p Круглосуточно
          a.header-link(href="tel:8 (800) 888-88-88") 8 (800) 888-88-88 
          a.header-link(href="mailto:yr-pom@gmail.com") yr-pom@gmail.com
      .col-md-3.header__info.col-4.order-3.order-md-4
        .header__info__container
          p Наш адрес:<br> г. Москва, ул. Ломоносова, д.6, оф. 13